.container {
    background-color: #E6E4E9;
}

.content {
    padding: 3vw;
}

.container h1 {
    font-size: clamp(1.1em, 3vw, 1.8em);
    font-weight: bold;
    color: #07184A;
}

.container span {
    color: #d82323;
}

.content input {
    width: 100%;
    max-width: 40em;
    padding: .5em;
    margin-top: 2vw;
    font-size: clamp(.9em, 3vw, 1.1em);
    border: 1px solid #ccc;
    border-radius: .4em;
    transition: border-color 0.2s ease-in-out;
}

.content input:focus {
    border-color: #007bff;
    outline: none;
}

.content input::placeholder, .content textarea::placeholder {
    font-size: clamp(.9em, 3vw, 1.1em);
}

.content textarea {
    width: 100%;
    max-width: 40em;
    height: 7em;
    padding: .5em;
    margin: 2vw 0;
    font-size: clamp(.9em, 3vw, 1.1em);
    border: 1px solid #ccc;
    border-radius: .4em;
    transition: border-color 0.2s ease-in-out;
}

.content textarea:focus {
    border-color: #007bff;
    outline: none;
}

.addButton {
    width: 15em;
    padding: .5em;
    background-color: #d82323;
    color: white;
    font-size: clamp(.9em, 3vw, 1.1em);
    font-weight: bold;
    border: none;
    border-radius: .4em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.addButton:hover {
    background-color: #07184A;
}