.contactSection {
  background-color: #E6E4E9;
}

.container {
  max-width: 40em;
  padding:4vw;
}

.container h2 {
  font-size: clamp(1.1em, 3vw, 1.8em);
  font-weight: bold;
  color: #07184A;
}

.container span {
  color: #d82323; 
}

.formContainer {
  padding: 2vw 0 0 2vw;
}

.formGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.formControl {
  width: 100%;
  padding: .5em;
  font-size: clamp(.9em, 3vw, 1.1em); 
  border: 1px solid #ccc;
  border-radius: .4em;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
}

.formControl:focus {
  border-color: #007bff;
  outline: none;
}

.formControl::placeholder {  
  font-size: clamp(.9em, 3vw, 1.1em);
}

.submitButton {
  width: 100%;
  padding: .5em;
  margin-top: 1em;
  background-color: #d82323;
  color: white;
  font-size: clamp(.9em, 3vw, 1.1em);
  font-weight: bold;
  border: none;
  border-radius: .4em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #07184A;
}

.validationError {
  color: #d82323;
  font-size: clamp(.9em, 3vw, 1.1em);
}