.provideServices {
    background-color: #E6E4E9;
}

.container {
    padding: 3vw;
}

.container h1 {
    font-size: clamp(1.1em, 3vw, 1.8em);
    font-weight: bold;
    color: #07184A;
    margin-bottom: .2vw;
}

.container h2 {
    font-size: clamp(1em, 3vw, 1.2em);
    font-weight: bold;
    color: #07184A;
    margin-bottom: .2vw;
}

.container p {
    font-size: clamp(.9em, 3vw, 1.1em);
    margin-bottom: .2vw;
}

.container span {
    color: #d82323;
}

.service {
    background-color: white;
    margin-top: 1em;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.actions {
    display: flex;
}

.actions button {
    font-size: clamp(.9em, 3vw, 1.1em);
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 .2em;
}

.actions button:hover {
    color: #d82323;
}

.form {
    background-color: white;
    margin-top: 1em;
    padding: 3vw;
}

.form input {
    width: 100%;
    max-width: 40em;
    padding: .5em;
    margin-top: 1.5vw;
    font-size: clamp(.9em, 3vw, 1.1em);
    border: 1px solid #ccc;
    border-radius: .4em;
    transition: border-color 0.2s ease-in-out;
}

.form input:focus {
    border-color: #007bff;
    outline: none;
}

.form input::placeholder, .form textarea::placeholder {
    font-size: clamp(.9em, 3vw, 1.1em);
}

.form textarea {
    width: 100%;
    max-width: 40em;
    height: 7em;
    padding: .5em;
    margin: 1.5vw 0;
    font-size: clamp(.9em, 3vw, 1.1em);
    border: 1px solid #ccc;
    border-radius: .4em;
    transition: border-color 0.2s ease-in-out;
}

.form textarea:focus {
    border-color: #007bff;
    outline: none;
}

.addButton {
    width: 15em;
    padding: .5em;
    background-color: #d82323;
    color: white;
    font-size: clamp(.9em, 3vw, 1.1em);
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: .4em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.addButton:hover {
    background-color: #07184A;
}