.contactSection {
  background-color: #f7f8fa;
  padding: 5vw 0;
}

.container {
  max-width: 30em;
  margin: 0 auto;
  padding: 1.2em;
  background-color: white;
  border-radius: .6em;
  box-shadow: 0 .6em 1em rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  text-align: center;
  margin-bottom: .8em;
}

.sectionTitle h2 {
  font-size: clamp(1.3em, 3vw, 1.7em);
  color: #07184A;
  font-weight: bold;
}

.sectionTitle span {
  color:  #d82323;
}

.formContainer {
  padding: 1em;
}

.formGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

input {
  padding: .5em .8em;
  font-size: clamp(.9em, 3vw, 1.1em);
  border: 1px solid #ccc;
  border-radius: .4em;
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.formGroup button {
  padding: .5em .8em;  
  background-color: #d82323;
  color: white;
  font-size: clamp(.9em, 3vw, 1.1em);
  font-weight: bold;
  border: none;
  border-radius: .4em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.formGroup button:hover {
  background-color: #b81d1d;
}

button span {
  display: block;
}

.error {
  color: #d82323;
  font-size: clamp(.8em, 3vw, 1em);
}