.container {
  background-color: #E6E4E9;
}

.adminMenuContainer {
  width: 100%;
  background-color: #222A47;
  color: #D6D7DE;
}

.adminMenuTitle {
  background-color: #1D2230;
  padding: 1vw 2vw;
}

.adminMenuTitle h2 {
  font-size: clamp(.7em, 2vw, 1.3em);
}

.listGroup {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
}

.listGroupItem {
  padding: .8vw 0;
  text-decoration: none;
  color: #D6D7DE;
  font-size: clamp(.5em, 2vw, 1em); 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.employeeList {
  padding:3vw 1vw 0 2vw;
}

.employeeList h2 {
  font-size: clamp(.8em, 3vw, 1.6em);
  font-weight: bold;
  color: #07184A;
}

.employeeList span {
  color: #d82323;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1vw 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table thead {
  background-color: #f7f8fa;
}

.table th,
.table td {
  text-align: left;
  padding: .5em;
  border: 1px solid #d6cfcf;
}

.table th {
  font-size: clamp(.4em, 1.9vw, 1em);
  font-weight: bold;
}

.table td {
  font-size: clamp(.4em, 1.8vw, .9em);
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table button {
  background: none;
  border: none;
  cursor: pointer;
}

.table button:hover {
  color: #d82323;
}
