.tasksContainer {
    background-color: #E6E4E9;
}

.tasksList {
    padding: 3vw 2vw;
}

.tasksList h2 {
    font-size: clamp(1.1em, 3vw, 1.8em);
    font-weight: bold;
    color: #07184A;
}

.tasksList span {
    color: #d82323;
}

.tableContainer {
    display: block;
    width: 100%;
    margin: 2vw 0;
    overflow-x: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tasksTable {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.tasksTable thead {
    background-color: #f7f8fa;
}

.tasksTable th,
.tasksTable td {
    text-align: left;
    padding: .5em;
    border: 1px solid #d6cfcf;
}

.tasksTable th {
    font-size: clamp(.9em, 3vw, 1.1em);
    font-weight: bold;
}

.tasksTable td {
    font-size: clamp(.9em, 3vw, 1.1em);
}

.tasksTable tbody tr:hover {
    background-color: #f1f1f1;
}

.tasksTable button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 .2em;
}

.tasksTable button:hover {
    color: #d82323;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.pagination button {
    width: 7em;
    font-size: clamp(.9em, 3vw, 1.1em);
    border: none;
    border-radius: .4em;
    background-color: #d82323;
    color: #FFFFFF;
    padding: .3em 1em;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #07184A;
}

.pagination button:disabled {
    background-color: #d6cfcf;
    cursor: not-allowed;
}

.pagination span {
    color: #1D2230;
    font-size: clamp(.9em, 3vw, 1.1em);
    margin: 0 1em;
}

.statusBadge {
    color: white !important;
    border-radius: .3em;
    padding: .1em .6em;
}

.statusCompleted {
    background-color: green;
}

.statusContinue {
    background-color: #FEC008;
}

.statusStart {
    background-color: #57595c;
}

.statusContinue:hover,
.statusStart:hover,
.statusCompleted:hover {
    background-color: #d82323;
}

.noOrders {
    text-align: center;
    font-size: clamp(.9em, 3vw, 1.1em);
    color: #d82323;
}