.banner {
    background: url('../../assets/Images/banner.jpg') no-repeat center center/cover;
    padding: 8vw 12vw;
    color: white;
    margin-bottom: 2vw;
}

.banner span {
    color:  #d82323;
}

.banner h1 {
    font-size: clamp(.9em, 3vw, 2.6em);
    margin: .3em 0 1em 0;
    font-weight: bold;
}

.bannerButtons {
    display: flex;
    align-items: center;
}

.bannerButtons i {
    font-size: clamp(2.4em, 10vw, 4em);
    color:  #d82323;
    cursor: pointer;
}

.banner p {
    font-size: clamp(.6em, 3vw, 1em);
    margin: 0;
    font-weight: bold;
}

.bannerButtons p {
    margin: 0 2em;
}