.container {
    background-color: #E6E4E9;
}

.customerList {
    padding: 3vw 2vw;
}

.customerList h2 {
    font-size: clamp(1.1em, 3vw, 1.8em);
    font-weight: bold;
    color: #07184A;
}

.customerList span {
    color: #d82323;
}

.searchBar {
    background-color: #FFFFFF;
    max-width: 40em;
    display: flex;
    border-radius: .4em;
    margin: 1vw 0 0 2vw;
}

.searchBar input {
    width: 100%;
    border: none;
    padding: .5em 1em;
    font-size: clamp(.9em, 3vw, 1.1em);
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
}

.searchBar input:focus {
    outline: none;
}

.searchBar input::placeholder {
    font-size: clamp(.9em, 3vw, 1.1em);
}

.searchBar span {
    background-color: #d82323;
    color: #FFFFFF;
    padding: .5em 1em;
    font-size: clamp(.9em, 3vw, 1.1em);
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
}

.tableContainer {
    display: block;
    width: 100%;
    margin: 2vw 0;
    overflow-x: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.customerTable {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.customerTable thead {
    background-color: #f7f8fa;
}

.customerTable th,
.customerTable td {
    text-align: left;
    padding: .5em;
    border: 1px solid #d6cfcf;
}

.customerTable th {
    font-size: clamp(.9em, 3vw, 1.1em);
    font-weight: bold;
}

.customerTable td {
    font-size: clamp(.9em, 3vw, 1.1em);
}

.customerTable tbody tr:hover {
    background-color: #f1f1f1;
}

.customerTable button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 .2em;
}

.customerTable button:hover {
    color: #d82323;
}

.noResults {
    font-size: clamp(.9em, 3vw, 1.1em);
    font-weight: bold;
    color: #d82323;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.pagination button {
    width: 7em;
    font-size: clamp(.9em, 3vw, 1.1em);
    border: none;
    border-radius: .4em;
    background-color: #d82323;
    color: #FFFFFF;
    padding: .3em 1em;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #07184A;
}

.pagination button:disabled {
    background-color: #d6cfcf;
    cursor: not-allowed;
}

.pagination span {
    color: #1D2230;
    font-size: clamp(.9em, 3vw, 1.1em);
    margin: 0 1em;
}