.banner {
    background: url('../../assets/Images/banner.jpg') no-repeat center center/cover;
    padding: 8vw 12vw;
    color: white;
    margin-bottom: 2vw;
}

.banner span {
    color:  #d82323;
}

.banner h1 {
    font-size: clamp(.9em, 3vw, 2.6em);
    margin: .3em 0 1em 0;
}

.bannerButtons {
    display: flex;
    align-items: center;
}

.bannerButtons i {
    font-size: clamp(2.4em, 10vw, 4em);
    color:  #d82323;
    cursor: pointer;
}

.banner p {
    font-size: clamp(.6em, 3vw, 1em);
    margin: 0;
}

.bannerButtons p {
    margin: 0 2em;
}

/* Experience Section */

.experience p {
    font-size: clamp(.1em, 3vw, 1em);
}

.experience h2 {
    background-color: #07184A;
    text-align: center;
    color: white;
    border-radius: .4em;
    padding: .2em;
    font-size: clamp(1em, 3vw, 1.6em);
}

.aboutButton {
    width: 100%;
    padding: .3em;
    background-color: #d82323;
    color: white;
    font-size: clamp(.1em, 3vw, .8em);
    font-weight: bold;
    border: none;
    border-radius: .4em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.aboutButton:hover {
    background-color: #07184A;
}

.experience span {
    background-color: #07184A;
    color: white;
    text-align: center;
    border-radius: .4em;
    padding: .3em;
    margin-top: 1em;
    font-size: 1.6em;
}

/* Services Section */

.services {
    background-color: #e6e4e9;
    padding: 3vw 7vw;
    margin-top: 2vw;
}

.services h2 {
    font-size: clamp(1em, 3vw, 1.8em);
    font-weight: bold;
    color: #07184A;
}

.services p {
    font-size: clamp(.1em, 3vw, 1em);
}

.services h3 {
    font-size: clamp(1em, 3vw, 1.6em);
    font-weight: bold;
    color: #07184A;
}

.services span {
    color:  #d82323;
}

.serviceCard {
    background-color: white;
    text-align: center;
    padding: 1em;
    border-radius: .5em;
    border-bottom: .4em solid #d82323;
}

.serviceCard p {
    color: #07184A;
    margin-bottom: 0.2em;
}

.serviceIcon {
    font-size: 2.4em;
    margin-bottom: .3em;
}

.readMore {
    color: #d82323;
    text-decoration: none;
}

.readMore:hover {
    color: #07184A;
}

/* Quality Service Section */

.qualityService {
    margin-bottom: 2vw;
}

.qualityService div {
    background-color: #d82323;
    color: white;
}

.qualityService h2 {
    font-size: clamp(1em, 3vw, 1.7em);
    font-weight: bold;
}

.qualityService p {
    font-size: clamp(.2em, 3vw, 1.1em);
}

/* Why Choose Us Section */

.whyChooseUs {
    padding-left: 2.8em;
}

.whyChooseUs h2 {
    font-size: clamp(1.1em, 3vw, 1.6em);
    font-weight: bold;
    color: #07184A;
}

.whyChooseUs span {
    color:  #d82323;
}

.benefit {
    font-size: clamp(.8em, 3vw, 1em);
    margin: .4em .8em;
}

/* Additional Services Section */

.additionalServices {
    padding-left: 2.8em;
}

.additionalServices h2 {
    font-size: clamp(1.1em, 3vw, 1.6em);
    font-weight: bold;
    color: #07184A;
}

.additionalServices span {
    color:  #d82323;
}

.additionalServices li {
    font-size: clamp(.8em, 3vw, 1em);
    margin: .4em .8em;
}

.additionalServices li::before {
    content: "✔";
    color: #d82323;
    margin-right: .8em;
} 

/* Call to Action Section */

.appointmentSection {
    background-color: #e6e4e9;
    padding: 4vw 8vw;
}
.appointment {
    background-color: #d82323;
    color: white;
    text-align: center;
    padding: 2vw;
}

.appointment h2 {
    font-size: clamp(1em, 3vw, 1.5em);
    font-weight: bold;
    opacity: .7;
}

.appointment h3 {
    font-size: clamp(1em, 3vw, 1.5em);
    font-weight: bold;
    opacity: .7;
}

.appointment h3:hover {
    opacity: 1;
    cursor: pointer;
} 