.footer {
    background-color: #091336;
    color: #8993AE;
    padding: 2vw 12vw;
    font-size: clamp(.9em, 1vw, 2em);
}

.contactDetails {
    border-bottom: 1px solid #8993AE;
    justify-content: center;
}

.contactDetails div {
    display: flex;
    align-items: center;
    gap: 1em;
} 

.contactDetails i {
    font-size: clamp(.5em, 6vw, 3em);
    color: #67283D;
}

.contactDetails p {
    margin: .6em 0;
}

.contactDetails a {
    font-weight: bold;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

h4 {
    font-size: clamp(1em, 4.5vw, 1.2em);
    color: #67283D;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: clamp(.6em, 3vw, 1em);
    margin: .2em 0;
}

.footer a {
    color: #8993AE;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.socialMedia a {
    margin-right: 1em;
    font-size: 1.5em;
}