.adminMenuContainer {
  width: 100%;
  background-color: #222A47;
  color: #D6D7DE;
  height: 100%;
}

.adminMenuTitle {
  background-color: #1D2230;
  padding: 1vw;
}

.adminMenuTitle h2 {
  font-size: clamp(1em, 3vw, 1.3em);
  font-weight: bold;
  color: #D6D7DE;
}

.listGroup {
  display: flex;
  flex-direction: column;
  padding-left:  2vw;
}

.listGroupItem {
  padding: .8vw 0;
  text-decoration: none;
  color: #D6D7DE;
  font-size: clamp(.9em, 3vw, 1.1em); 
  font-weight: bold;
  border-bottom: 1px solid #3c415c;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.listGroupItem:hover {
  background-color: #3c415c;
  color: #ffffff;
}
