.topBar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(.7em, 3vw, 1.1em);
    background-color: #07184A;
}

.leftTopBar {
    display: flex;
    align-items: center;
}

.tagline {
    background-color: #d82323;
    padding: 1em;
}

.workingHours {
    padding: 1em;
}

.contactInfo {
    padding: 1em;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em 1em;
}

.mainHeader img {
    width: clamp(10em, 20vw, 17em);
}

.navMenu {
    display: flex;
    align-items: center;
}   

.navMenu ul {
    list-style: none;
    align-items: center;
    gap: 2vw;
    margin-right: 2em;
    padding-right: 2em;
    border-right: 1px solid #ccc;
    margin-top: .8em;
}

.navMenu ul a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #07184A;
}

.signInButton {
    text-decoration: none;
    background-color: #d82323;
    color: white;
    border: none;
    padding: .4em 1em;
    cursor: pointer;
    font-size: clamp(.6em, 4vw, 1em);
    font-weight: bold;
}

.signInButton:hover {
    background-color: #07184A;
}