.topBar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(.6em, 2.9vw, .9em);
    background-color: #07184A;
}

.leftTopBar {
    display: flex;
    align-items: center;
}

.tagline {
    background-color: #EC0D08;
    padding: 1em;
}

.workingHours {
    padding: 1em;
}

.contactInfo {
    padding: 1em;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em 1em;
}

.mainHeader img {
    width: clamp(10em, 20vw, 17em);
}

.navMenu {
    display: flex;
    align-items: center;
}   

.navMenu ul {
    list-style: none;
    align-items: center;
    gap: 2em;
    margin-right: 2em;
    padding-right: 2em;
    border-right: 1px solid #ccc;
    margin-top: .8em;
}

.navMenu ul a {
    text-decoration: none;
    font-size: clamp(.6em, 2.9vw, .9em);
    color: black;
}

.signInButton {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: .4em 1em;
    cursor: pointer;
    font-size: clamp(.6em, 4vw, 1em);
}

.browseButton {
    margin-left: em;
}


@media screen and (max-width: 768px) {
    
    .tagline {
        /* display: none; */
    }

    .topBar {    
        /* font-size: .6em; */
    }
    
} 