.services {
    background-color: #e6e4e9;
    padding: 3vw 7vw;
    margin-top: 2vw;
}

.services h2 {
    font-size: clamp(1.2em, 3vw, 1.8em);
    font-weight: bold;
    color: #07184A;
}

.services p {
    font-size: clamp(.9em, 3vw, 1.1em);
    margin-bottom: 2em;
}

.services h3 {
    font-size: clamp(1.2em, 3vw, 1.6em);
    font-weight: bold;
    color: #07184A;
}

.services span {
    color: #d82323;
}

.serviceCard {
    background-color: white;
    text-align: center;
    padding: 1em;
    border-radius: .5em;
    border-bottom: .4em solid #d82323;
    position: relative;
    overflow: visible;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 0 0 .5em .5em;
}

.dropdownVisible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.serviceSub {
    text-align: left;
}

.serviceCard p {
    color: #07184A;
    margin-bottom: 0.2em;
}

.serviceIcon {
    font-size: clamp(1.5em, 3vw, 2em);
    margin-bottom: .3em;
}

.readMore {
    font-size: clamp(.9em, 3vw, 1.1em);
    color: white;
    background-color: #d82323;
    border: none;
    border-radius: .4em;
    padding: .1em .8em;
    cursor: pointer;
}

.readMore:hover {
    background-color: #07184A;
}