.contactInfo div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.contactInfo i {
    font-size: clamp(.5em, 6vw, 3em);
    color: #d82323;
}

.contactInfo h2 {
    font-size: clamp(1.1em, 3vw, 1.6em);
    font-weight: bold;
    color: #07184A;
}

.discription {
    font-size: clamp(.1em, 3vw, 1em);
}

.contactInfo p {
    font-size: clamp(.1em, 3vw, 1em);
}

.contactInfo strong {
    font-size: clamp(.1em, 3vw, 1em);
    color: #07184A;
}