.appointmentSection {
    background-color: #e6e4e9;
    padding: 4vw 8vw;
}
.appointment {
    background-color: #d82323;
    color: white;
    text-align: center;
    padding: 2vw;
}

.appointment h2 {
    font-size: clamp(.9em, 3vw, 1.3em);
    font-weight: bold;
}

.appointment p {
    font-size: clamp(.2em, 2vw, .8em);
}

.appointment h3 {
    font-size: clamp(.4em, 3vw, 1em);
    font-weight: bold;
    background-color: white;
    color: #07184A;
    border-radius: .4em;
    padding: .2em;
    margin: 1em 0;
}

.appointment h3:hover {
    color: #d82323;
    cursor: pointer;
} 