.appointmentSection {
    background-color: #e6e4e9;
    padding: 4vw 8vw;
}
.appointment {
    background-color: #d82323;
    color: white;
    text-align: center;
    padding: 2vw;
}

.appointment h2 {
    font-size: clamp(1em, 3vw, 1.5em);
    font-weight: bold;
}

.appointment h3 {
    font-size: clamp(1em, 3vw, 1.5em);
    font-weight: bold;
}

.appointment h3:hover {
    color: #07184A;
    cursor: pointer;
} 