.updateOrderContainer {
  background-color: #E6E4E9;
}

.adminMenuContainer {
    width: 100%;
    background-color: #222A47;
    color: #D6D7DE;
}

.adminMenuTitle {
    background-color: #1D2230;
    padding: 1vw 2vw;
}

.adminMenuTitle h2 {
    font-size: clamp(.7em, 2vw, 1.3em);
}

.listGroup {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
}

.listGroupItem {
    padding: .8vw 0;
    text-decoration: none;
    color: #D6D7DE;
    font-size: clamp(.5em, 2vw, 1em);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.orderDetails {
  padding: 3vw;
}

.orderDetails p {
  font-size: clamp(.6em, 2vw, 1em);
  margin: 0;
}

.orderDetails strong {
  font-size: clamp(.7em, 2vw, 1em);
  color: #07184A;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}

.orderDetails h2 {
  font-size: clamp(.8em, 3vw, 1.6em);
  font-weight: bold;
  color: #07184A;
}

.orderDetails span {
  color: #d82323;
}

.orderDetails h3 {
  font-size: clamp(.7em, 2vw, 1.2em);
  font-weight: bold;
  color: #07184A;
  margin-bottom: 1vw;
}

.orderDetails h4 {
  font-size: clamp(.6em, 2vw, 1em);
  font-weight: bold;
  color: #07184A;
  margin-bottom: 0;
}

.orderDetails h6 {
  font-size: clamp(.1em, 2vw, .7em);
  color: #07184A;
  margin-bottom: 0;
}

.infoSection {
  display: flex;
  gap: 3vw;
  margin-top: 3vw;
}

.infoSection div {
  width: 100%;
  background: white;
  padding: 1vw;
  border-radius: .4em;
  border-bottom: .4em solid #d82323;
}

.servicesSection, .updateSection {
  background-color: white;
  padding: 3vw;
  border-radius: .4em;
  border-bottom: .4em solid #d82323;
  margin-top: 3vw;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  margin: 1vw 0;
  border-radius: .4em;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service div {
  width: 72%;
}

.service textarea {
  width: 100%;
  margin-top: .4em;
  padding: .1em .6em;
  font-size: clamp(.6em, 2vw, 1em);
  border: 1px solid #ccc;
  border-radius: .4em;
  transition: border-color 0.2s ease-in-out;
}

.service textarea:focus {
  border-color: #007bff;
  outline: none;
}

.service textarea::placeholder {
  font-size: clamp(.6em, 2vw, 1em);
}

.status {
  font-size: clamp(.6em, 2vw, 1em);
  display: inline-block;
  color: white;
  border: none;
  border-radius: .3em;
  padding: .1em .6em;
}

.statusCompleted {
  background-color: green;
}

.statusInProgress {
  background-color: #FEC008;
}

.statusReceived {
  background-color: #57595c;
}

.orderFlexContainer {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.orderFlex {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin: 1vw 0;
}

.checkbox {
  width: 1.3em;
  height: 1.3em;
  margin: .2em 0;
}

.date {
  width: 9em;
} 

.price {
  width: 6em;
}

.formGroup input{
    padding: .1em .6em;
    font-size: clamp(.6em, 2vw, 1em);
    border: 1px solid #ccc;
    border-radius: .4em;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
}

.formGroup input:focus {
    border-color: #007bff;
    outline: none;
}

.formGroup input::placeholder {
    font-size: clamp(.6em, 2vw, 1em);
}

.formGroup textarea {
    width: 25vw;  
    height: 7em;
    min-width:  15em;
    margin-top: .5vw;
    padding: .1em .6em;
    font-size: clamp(.6em, 2vw, 1em);
    border: 1px solid #ccc;
    border-radius: .4em;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
}

.formGroup textarea:focus {
    border-color: #007bff;
    outline: none;
}

.formGroup textarea::placeholder {
    font-size: clamp(.6em, 2vw, 1em);
}

.formGroup button {
    width: 12em;
    padding: .6em;
    margin-top: 1.5vw;
    background-color: #d82323;
    color: white;
    font-size: clamp(.7em, 2vw, 1.1em);
    font-weight: bold;
    border: none;
    border-radius: .4em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.formGroup button:hover {
    background-color: #07184A;
}