.updateOrderContainer {
  background-color: #E6E4E9;
}

.orderDetails {
  padding: 3vw;
}

.orderDetails p {
  font-size: clamp(.9em, 3vw, 1.1em);
  margin: 0;
}

.orderDetails strong {
  font-size: clamp(.9em, 3vw, 1.1em);
  color: #07184A;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}

.orderDetails h2 {
  font-size: clamp(1.2em, 3vw, 1.8em);
  font-weight: bold;
  color: #07184A;
}

.orderDetails span {
  color: #d82323;
}

.orderDetails h3 {
  font-size: clamp(1.1em, 3vw, 1.4em);
  font-weight: bold;
  color: #07184A;
  margin-bottom: 1vw;
}

.orderDetails h4 {
  font-size: clamp(1em, 3vw, 1.2em);
  font-weight: bold;
  color: #07184A;
  margin-bottom: 0;
}

.orderDetails h6 {
  font-size: clamp(.6em, 3vw, .8em);
  color: #07184A;
  margin-bottom: 0;
}

.customerInfo, .vehicleInfo {
  width: 100%;
  background: white;
  padding: 1em;
  border-radius: .4em;
  border-bottom: .4em solid #d82323;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.servicesSection, .updateSection {
  background-color: white;
  padding: 3vw;
  border-radius: .4em;
  border-bottom: .4em solid #d82323;
  margin-top: 3vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.service {
  padding: .5em;
  margin: 1vw 0;
  border-radius: .4em;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service textarea {
  width: 100%;
  height: 5em;
  margin-top: .4em;
  padding: .1em .5em;
  font-size: clamp(.9em, 3vw, 1.1em);
  border: 1px solid #ccc;
  border-radius: .4em;
  transition: border-color 0.2s ease-in-out;
}

.service textarea:focus {
  border-color: #007bff;
  outline: none;
}

.service textarea::placeholder {
  font-size: clamp(.9em, 3vw, 1.1em);
}

.status {
  width: fit-content;
  font-size: clamp(.9em, 3vw, 1.1em);
  display: inline-block;
  color: white;
  border: none;
  border-radius: .3em;
  padding: .1em .6em;
  cursor: pointer;
}

.statusCancelled {
  background-color: red;
}

.statusCompleted {
  background-color: green;
}

.statusInProgress {
  background-color: #FEC008;
}

.statusReceived {
  background-color: #57595c;
}

.orderFlex {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin: 1vw 0;
}

.checkbox {
  width: 1.3em;
  height: 1.3em;
  margin: .2em 0;
}

.date {
  width: 9em;
} 

.price {
  width: 6em;
}

.formGroup input{
    padding: .1em .5em;
    font-size: clamp(.9em, 3vw, 1.1em);
    border: 1px solid #ccc;
    border-radius: .4em;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
}

.formGroup input:focus {
    border-color: #007bff;
    outline: none;
}

.formGroup input::placeholder {
    font-size: clamp(.9em, 3vw, 1.1em);
}

.formGroup textarea {
    width: 100%;  
    height: 7em;
    margin-top: .5vw;
    padding: .1em .5em;
    font-size: clamp(.9em, 3vw, 1.1em);
    border: 1px solid #ccc;
    border-radius: .4em;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
}

.formGroup textarea:focus {
    border-color: #007bff;
    outline: none;
}

.formGroup textarea::placeholder {
    font-size: clamp(.9em, 3vw, 1.1em);
}

.formGroup button {
    width: 15em;
    padding: .5em;
    margin-top: 1.5vw;
    background-color: #d82323;
    color: white;
    font-size: clamp(.9em, 3vw, 1.1em);
    font-weight: bold;
    border: none;
    border-radius: .4em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.formGroup button:hover {
    background-color: #07184A;
}

.noServices {
  font-size: clamp(.9em, 3vw, 1.1em);
  color: #d82323;
}